# Ignorar archivos específicos
ShootInTheSpace/models/Lily/sin_nombre.blend1
ShootInTheSpace/models/Lily/sin_nombre.blend
ShootInTheSpace/models/Soldier/Soldier.fbx

# Ignorar todas las carpetas "build" y su contenido
ShootInTheSpace/build/
../ShootInTheSpace/build/

# Ignorar carpetas específicas dentro de "build"
../ShootInTheSpace/build/CGALib/
../ShootInTheSpace/build/.cmake/
../ShootInTheSpace/build/CGALib/CMakeFiles/
../ShootInTheSpace/build/Proyecto/CMakeFiles/
../ShootInTheSpace/build/.cmake/api/v1/reply/

# Ignorar archivos JSON
*.json

# Ignorar la carpeta "bin"
../ShootInTheSpace/bin/
ShootInTheSpace/bin/libCGALib.dll
ShootInTheSpace/bin/Proyecto.exe
ShootInTheSpace/build/.cmake/api/v1/reply/cache-v2-328ff00a048a6aa0a1eb.json
ShootInTheSpace/build/.cmake/api/v1/reply/cmakeFiles-v1-6f9691e7756d4916458a.json
ShootInTheSpace/build/.cmake/api/v1/reply/codemodel-v2-4a93487d4d6d3ea651df.json
ShootInTheSpace/build/.cmake/api/v1/reply/index-2024-06-07T03-56-10-0887.json
ShootInTheSpace/build/.cmake/api/v1/reply/target-CGALib-Debug-c36de92db35a8ffe01a5.json
ShootInTheSpace/build/.cmake/api/v1/reply/target-Proyecto-Debug-237ed836d1dd75b3f555.json
ShootInTheSpace/build/.cmake/api/v1/reply/toolchains-v1-05af41ddb3fa01854c7e.json
ShootInTheSpace/build/CGALib/cmake_install.cmake
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/build.make
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/cmake_clean.cmake
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/compiler_depend.internal
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/compiler_depend.make
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/DependInfo.cmake
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/flags.make
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/includes_CXX.rsp
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/link.txt
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/linkLibs.rsp
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/objects.a
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Bones.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Bones.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Box.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Box.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Cylinder.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Cylinder.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/FirstPersonCamera.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/FirstPersonCamera.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/FontTypeRendering.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/FontTypeRendering.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Mesh.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Mesh.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Model.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Model.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Shader.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Shader.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/ShadowBox.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/ShadowBox.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Sphere.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Sphere.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Terrain.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Terrain.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Texture.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/Texture.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/ThirdPersonCamera.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/ThirdPersonCamera.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/TimeManager.cpp.obj
ShootInTheSpace/build/CGALib/CMakeFiles/CGALib.dir/src/TimeManager.cpp.obj.d
ShootInTheSpace/build/CGALib/CMakeFiles/CMakeDirectoryInformation.cmake
ShootInTheSpace/build/CGALib/Makefile
ShootInTheSpace/build/cmake_install.cmake
ShootInTheSpace/build/CMakeCache.txt
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CMakeCCompiler.cmake
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CMakeCXXCompiler.cmake
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_C.bin
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CMakeRCCompiler.cmake
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CMakeSystem.cmake
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/a.exe
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/a.exe
ShootInTheSpace/build/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
ShootInTheSpace/build/CMakeFiles/CMakeDirectoryInformation.cmake
ShootInTheSpace/build/CMakeFiles/CMakeOutput.log
ShootInTheSpace/build/CMakeFiles/Makefile.cmake
ShootInTheSpace/build/CMakeFiles/Makefile2
ShootInTheSpace/build/CMakeFiles/TargetDirectories.txt
ShootInTheSpace/build/compile_commands.json
ShootInTheSpace/build/Makefile
ShootInTheSpace/build/Proyecto/cmake_install.cmake
ShootInTheSpace/build/Proyecto/CMakeFiles/CMakeDirectoryInformation.cmake
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/build.make
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/cmake_clean.cmake
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/compiler_depend.internal
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/compiler_depend.make
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/DependInfo.cmake
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/flags.make
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/includes_CXX.rsp
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/link.txt
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/linkLibs.rsp
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/objects.a
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/src/main.cpp.obj
ShootInTheSpace/build/Proyecto/CMakeFiles/Proyecto.dir/src/main.cpp.obj.d
ShootInTheSpace/build/Proyecto/Makefile
