
ShootInTheSpace/models/Lily/sin_nombre.blend1
ShootInTheSpace/models/Lily/sin_nombre.blend
/ShootInTheSpace/build
/ShootInTheSpace/build/CGALib
/ShootInTheSpace/build/.cmake
/ShootInTheSpace/build/CGALib/CMakeFiles
/ShootInTheSpace/build
/ShootInTheSpace/build
ShootInTheSpace/models/Soldier/Soldier.fbx
/ShootInTheSpace/build/Proyecto/CMakeFiles
*.json
/ShootInTheSpace/bin
/ShootInTheSpace/build/Proyecto/CMakeFiles
/ShootInTheSpace/bin
/ShootInTheSpace/build/.cmake
